@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import 'vars';

* {
    font-family: $font-family;
    font-size: $text-font-size;
}

.app {
    width: 100%;
    height: 100svh;
    background-color: $dark-theme-background-color;
    color: $dark-theme-color;
}