.message-container {
    min-width: 100%;
    display: flex;
    padding: 10px 0px;

    &__item {
        flex-direction: column;
        display: flex;
        width: auto;
        max-width: 300px;
        background-color: #fff;
        height: fit-content;
        color: #343434;
        padding: 4px 8px;
        border-radius: 8px;
        text-align: start;
    }

    &__time {
        width: 100%;
        text-align: end;
        font-size: 12px;
        line-height: 0.8;
        color: #9d9d9d;
    }
}

/* width */
::-webkit-scrollbar {
    width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f12f;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #2c2c2c6a;
    border-radius: 8px;
}
